body{
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border: 2px solid rgb(47, 3, 3);
    padding: 8px;
}
button{
    background-color: rgb(39, 11, 11);
    border: none;
    padding: 6px 12px;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    font-size: x-large;
    text-align: center;
    color: rgb(135, 11, 36);
    padding: 15px 0;
    margin-top: 70px;
}
div.sectionone{
    display: flex;
    margin: 40px;
    gap: 40px;
}
div.img{
    display: flex;
    gap: 20px;
}

img#sectiononepicone{
    width: 200px;
    height: 260px;
}
img#sectiononepictwo{
    width: 200px;
    height: 260px;
}
img#sectiononepicthree {
    width: 200px;
    height: 260px;
}
div.h2andp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 450px;
}
h2{
    color: rgb(177, 34, 34);
    text-decoration: underline;
    margin-bottom: 10px;
}
p#biography{
    line-height: 1.6;
}
#h1sectiontwo {
    text-decoration: underline;
}
#ps2{
    text-align: center;
}
form{
    color: aliceblue;
}