h1{
    font-size: x-large;
    text-align: center;
    color: rgb(135, 11, 36);
    background-color: black;
}
body{
    background-color: black;
    color: aliceblue;
}
nav{
    color: brown;
    background-color: black;
    position: fixed;
    border: 5px solid rgb(47, 3, 3);
}
button{
    background-color: rgb(39, 11, 11);
}
h2{
    font-size: medium;
    color: rgb(177, 34, 34);
    line-height: 1cm;
    text-decoration: underline;
}



